@font-face {
font-family: "_ipaexm";
src: url('font/_ipaexm.ttf');
}

@font-face {
font-family: "_ipaexg";
src: url('font/_ipaexg.ttf');
}

#content {
margin: 40px 20px 30px 20px;
}

h1 {
font-weight: 400;
font-size: 25px;
margin: 20px 0 10px 0;
background-color: #fff;
border: solid 3px #567f57;
padding: 2px 2px 2px 4px;
clear: both;
}

.subcntnt:first-child h1 {
margin-top: 0;
}

i {
font-family: "_ipaexm";
font-style: normal;
font-weight: normal;
}

.txt i {
color: rgba(0, 0, 0, 0.9);
}

a, a:link, a:visited, a:active, .txt a i {
text-decoration: none;
color: #0645AD;
}

a:hover {
color: #0B0080;
}

b {
font-family: "_ipaexg";
font-weight: normal;
}

.txt {
margin: 0 10px 0 10px;
display: inline-block;
float: left;
width: 98.5%;
}

.txtimg {
display: inline-block;
float: right;
border: solid 1px #999;
padding: 5px 5px 0 5px;
}

.txtimg p {
border-top: solid 1px #999;
}

.subcntnt {
overflow: hidden;
}

.txt pre {
color: rgba(0, 0, 0, 0.8);
font-family: serif;
font-size: 17px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.01rem;
line-height: 27px;
white-space: pre-wrap;
width: 865px;
}

sup {
font-size: 11px;
}
